    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            
                <div class="navbar-header">
                    
                    <a class="navbar-brand" href="#">Movies Details</a>
                </div>
                
                
                
                
               
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                            <div class="header">
                                <h4 class="title">{{data.Title}}</h4>
                            </div>
                            <div class="content">
                              <div class="row">
                                <div class="col-md-3">
                                  <img style="width:100%;height:300px" ng-src="{{data.Poster}}"/>
                                </div>

                                <div class="col-md-9">
                                    <table class="table">
   
                                      <tbody>
                                       <tr>
                                          <td>Actors</td>
                                          <td>{{data.Actors}}</td>
        
                                        </tr>
                                        <tr>
                                          <td>Year:</td>
                                          <td>{{data.Year}}</td>
        
                                        </tr>
                                        <tr>
                                          <td>Runtime:</td>
                                          <td>{{data.Runtime}}</td>
       
                                        </tr>
                                        <tr>
                                          <td>ReleaseDate:</td>
                                          <td>{{data.Released}}</td>
        
                                        </tr>
                                        <tr>
                                          <td>Actors:</td>
                                          <td>{{data.Actors}}</td>
        
                                        </tr>
                                        
                                        <tr>
                                          <td>Director:</td>
                                          <td>{{data.Director}}</td>
        
                                        </tr>
                                       
                                        <tr>
                                          <td>IMDB Rating:</td>
                                          <td>{{data.imdbRating}}</td>
        
                                        </tr>
                                       
                                        <tr>
                                          <td>Plot:</td>
                                          <td>{{data.Plot}}</td>
        
                                        </tr>
                                        <tr>
                                          <td>Awards:</td>
                                          <td>{{data.Awards}}</td>
        
                                        </tr>
                                      </tbody>
                                    </table>

                                </div>

                              </div>
                                
                                 
                               
                            </div>
                    </div>
                </div>
               
               
                
                
               
     











                               
                        
            
        


        

    </div>
</div>